In [23]:
import pandas as pd
import numpy as np

In [28]:
doc1 = 'Game of thrones is an amazing tv series!'
doc2 = 'Game of thrones is the best tvt series!'
doc3 = 'Game of thrones is so great'
document = ['One Geek helps Two Geeks','Two Geeks help four Geeks','Each Geek helps many other Geeks at GeeksforGeeks']

In [29]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()

X = vectorizer.fit_transform(document)

In [30]:
print(vectorizer.get_feature_names_out)

<bound method CountVectorizer.get_feature_names_out of CountVectorizer()>

In [31]:
df_bow_sklearn = pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names_out())
df_bow_sklearn.head()

,at,each,four,geek,geeks,geeksforgeeks,help,helps,many,one,other,two
0,0,0,0,1,1,0,0,1,0,1,0,1
1,0,0,1,0,2,0,1,0,0,0,0,1
2,1,1,0,1,1,1,0,1,1,0,1,0