In [2]:
import pandas as pd
import numpy as np

In [3]:
doc1 = 'Game of Thrones is an amazing tv series!'
doc2 = 'Game of Thrones is the best tv series!'
doc3 = 'Game of Thrones is so great'
document = ["One Geek helps Two Geeks","Two Geeks help Four Geeks","Each Geek helps many other Geeks at GeeksforGeeks"]

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
vectorizer = CountVectorizer()
#X = vectorizer.fit_transform([doc1,doc2,doc3])
X = vectorizer.fit_transform(document)

In [5]:
print(vectorizer.get_feature_names_out())

['at' 'each' 'four' 'geek' 'geeks' 'geeksforgeeks' 'help' 'helps' 'many'
 'one' 'other' 'two']

In [6]:
df_bow_sklearn = pd.DataFrame(X.toarray(),columns=vectorizer.get_feature_names_out())
df_bow_sklearn.head()

,at,each,four,geek,geeks,geeksforgeeks,help,helps,many,one,other,two
0,0,0,0,1,1,0,0,1,0,1,0,1
1,0,0,1,0,2,0,1,0,0,0,0,1
2,1,1,0,1,1,1,0,1,1,0,1,0